.header {
    top:0;
    left:0;
    right: 0;
    position: fixed;
    height: 60px;
    line-height: 50px;
    
    align-items: center;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.navbar{
    background-color: #FFFFFF;

}
.nav{
    cursor: pointer;
}
