.main-area{

   
    height: calc(100vh - 92px);
    display: flex;
    
    flex-direction: row;
    
}

#content{
   
    width: 100%;
    
 }

.footer{
    bottom: 0;
    position: fixed;
    background-color:lightgray;
    height: 36px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

